<ion-content class="background-image">
  <ion-row class="ion-justify-content-center padding-space">
    <ion-card>
      <img alt="Silhouette of mountains" src="assets/success-team.png" />
      <ion-card-header>
        <ion-card-title class="ion-text-center"><ion-icon name="accessibility-outline"></ion-icon> &nbsp; Felicitări! Echipa a fost adăugată cu succes!</ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          <!--{{ echipaDenumire ? 'Denumire Echipa: ' + echipaDenumire : 'Card Subtitle' }}-->
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-text-center"> “Bucură-te de momente speciale alături de cei dragi, jucând jocuri
        captivante cu prietenii tăi.” </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>