.meci-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 10px;
}

.meci-button .meci-text {
  flex: 1;
  font-family: 'Zing';
  font-size: 23px;
}

.meci-button .meci-image {
  margin-left: 0px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.page-title-score {
  font-family: 'pigment';
  font-size: 23px;
}

h3 {
  font-family: 'Zing';
  font-size: 23px;
}

p {
  font-family: 'Zing';
  font-size: 23px;
}

.list-md {
  background: transparent !important;
}

.score-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #ebff5d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  color: black;
}

.vs {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.score-number {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

ion-item {
  --background: transparent;
}

img {
  border-radius: 50%;
  width: 100%;
}

img.sc-ion-label-md {
  width: 100%;
}


.info-icon {
  color: black;
  /* Culoare neagră pentru iconiță */
  margin-left: auto;
  /* Iconița să fie aliniată la dreapta */
  width: 24px !important;
  height: 24px !important;
}

.background-image {
  --background: url('/assets/background.png') no-repeat center center / cover;
  ;
}


ion-card {
  --background: #ffffff;
  --color: #7f807c;
}

ion-card-title {
  --color: #ebff5d;
}

ion-card-subtitle {
  --color: #d1fff8;
}