<ion-header>
  <ion-toolbar>
    <ion-title>Login 2FA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
      <p *ngIf="loginForm.get('username')?.hasError('required')">Username is required.</p>
    </ion-item>

    <div formArrayName="code" class="code-input">
      <ion-item *ngFor="let control of code.controls; let i = index">
        <ion-input [formControlName]="i" type="text" maxlength="1" inputmode="numeric"></ion-input>
      </ion-item>
    </div>
    <ion-item *ngIf="loginForm.get('code')?.invalid">
      <p>Code is required and must be 6 digits.</p>
    </ion-item>

    <ion-button type="submit" [disabled]="loginForm.invalid">Login</ion-button>

    <ion-item *ngIf="errorMessage">
      <ion-note color="danger">
        {{ errorMessage }}
      </ion-note>
    </ion-item>
  </form>
</ion-content>




