.center-button {
  display: block;
  margin: 0 auto;
  padding: 2%;
}

.title {
  font-weight: bold;
}

ion-row.ion-justify-content-center.padding-space.md.hydrated {
  padding: 100px;
}

.ion-txt-center {
  font-family: 'Poppins-ExtraLight';
  font-size: 13px;
  padding: 20px;
  opacity: 0.5;
}