<ion-img class="circle" src="assets/circle/Group.png"></ion-img>


<ion-content>

  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-text class="title">Înregistrare efectuată cu succes.</ion-text>
  </ion-row>

  <ion-row class="ion-justify-content-center padding-space">

  <ion-img src="assets/register/check-circle.png" alt="Register Icon" style="width: 200px; height: 200px;"></ion-img>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-margin-top">

  <ion-text class="ion-txt-center">Autentifică-te acum în aplicație!</ion-text>

</ion-row>

  <ion-button class="center-button" type="submit">Autentifică-te!</ion-button>


</ion-content>
