

.meci-container {
  margin: 10px;
}

.meci-button {
  width: 100%;
}

.meci-text {
  font-family: 'Zing';
  font-size: 23px;
}


ion-segment {
  margin-top: 16px;
  --indicator-color: transparent !important;
  font-family: 'Zing';
  font-size: 23px;
  margin: 10px 0;

}

ion-segment-button.md::part(native) {
  color: #ffffff;
}


.tip-meci-icon {
  font-size: 24px;
 color: var(--ion-color-medium);
}

.segment-button-checked {
  background: transparent ! important;
  --indicator-color: #ebff5d;
  --background-hover: #ebff5d;
  --color-checked: #ebff5d;
  font-family: 'Zing';
  font-size: 23px;
}


ion-button {
  .justify-content-space-arround {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
  }

  &::part(native) {
      font-weight: normal;
      text-transform: none;   
  }
}


.alert {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
}


.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  margin:20px;
}

.sad-face{
    font-size: 30px;
    margin-right: 10px; 
}



