.meci-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.meci-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.meci-text {
  font-family: 'Zing';
  font-size: 23px;
}

.meci-button .meci-image {
  margin-left: 0px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.background-image {
  --background: url('/assets/background.png') no-repeat center center / cover;
}

ion-segment {
  margin-top: 16px;
  --indicator-color: transparent !important;
  font-family: 'Zing';
  font-size: 23px;
  margin: 10px 0;

}

ion-segment-button.md::part(native) {
  color: #ffffff;
}

.icon-button {
  margin-left: 8px;
}

.tip-meci-icon {
  font-size: 24px;
  color: var(--ion-color-medium);
  margin-left: 10px;
}

.segment-button-checked {
  background: transparent ! important;
  --indicator-color: #ebff5d;
  --background-hover: #ebff5d;
  --color-checked: #ebff5d;
  font-family: 'Zing';
  font-size: 23px;
}

.no-games-message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #ff5d5d;
}