<ion-content>
  <div class="header-container">
    <ion-title class="page-title fancy">Meciuri</ion-title>
  </div>

  <ion-img alt="Silhouette of mountains" src="assets/success-msg.png"></ion-img>

  <ion-content class="background-image">
    <div *ngFor="let meci of meciuri" class="meci-container">
      <ion-button class="meci-button" (click)="selectMeci(meci)">
        <ion-label>
          <ion-text class="meci-text">{{ meci.denumire_meciuri }}</ion-text>
          <div>&nbsp;</div>
          <ion-text>{{ meci.data | date: 'short' }}</ion-text>
        </ion-label>
      </ion-button>
      
      <!-- Edit Button -->
      <ion-button  color="primary" class="icon-button" >
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      
      <!-- Delete Button -->
      <ion-button  color="danger" class="icon-button">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-content>
  