ion-content {
  --background: #2B293E;
  --overflow: auto;
}

ion-item {
  --background: transparent;
  --lines: "none";
}

.circle {
  background-color: #2B293E;
}

.circle::part(image) {
  width: 50%;
}

ion-label {
  --color: #000000;
}

ion-input {
  --background: #fff;
  --color: #000;
  --border-radius: 30px;
  --padding-start: 12px;
}

ion-button {
  --background: #ebff5d;
  --color: #000;
  --border-radius: 30px;
  --display: block;
  --margin: 0 auto;
  --padding: 15px 30px;
  --font-weight: bold;
  --box-shadow: inset -3px -3px 8px rgba(255, 255, 255, 0.6), inset 3px 3px 8px rgba(0, 0, 0, 0.2), 6px 6px 12px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s ease;
  border: none;
}

ion-button:hover {
  --box-shadow: inset -1px -1px 4px rgba(255, 255, 255, 0.6), inset 1px 1px 4px rgba(0, 0, 0, 0.2), 4px 4px 10px rgba(0, 0, 0, 0.2);
  --transform: scale(1.05);
}

ion-button:active {
  --box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2), inset -3px -3px 6px rgba(255, 255, 255, 0.6);
  --transform: scale(0.98);
  opacity: 0.95;
}

ion-datetime.custom-datetime {
  box-shadow: rgba(var(#ebff5d), 0.3) 0px 10px 15px -3px;
  --datetime-background: #ebff5d;
  --datetime-text-color: #ffffff;
  --datetime-border-radius: 2em;
  --datetime-padding-horizontal: 0.75em;
  width: auto;
  max-width: 100%;
  text-align: center;
  border-radius: 16px;
}

ion-datetime.custom-datetime ::ng-deep .calendar-day-active {
  color: #ebff5d;
}

ion-datetime.custom-datetime ::ng-deep .calendar-day,
ion-datetime.custom-datetime ::ng-deep .calendar-week-day {
  color: #ebff5d;
}

ion-datetime::part(calendar-day) {
  color: #000000;
}

ion-datetime::part(calendar-day today) {
  color: #ebff5d;
}

ion-datetime::part(calendar-day):focus {
  background-color: rgb(154 209 98 / 0.2);
  box-shadow: 0px 0px 0px 4px rgb(154 209 98 / 0.2);
}

ion-datetime.md::part(calendar-day active),
ion-datetime.md::part(calendar-day active):focus {
  background-color: #ebff5d;
  border-color: #ebff5d;
  color: #000000;
}

ion-datetime.md::part(calendar-day today) {
  border-color: #ebff5d;
}

ion-datetime.ios::part(calendar-day active),
ion-datetime.ios::part(calendar-day active):focus {
  background-color: rgba(153, 247, 59, 0.2);
  color: #ebff5d;
  border: 1px solid #ebff5d;
}

ion-input {
  --background-color: #fff;
  --text-color: #000;
  --border-radius: 2em;
  --padding-horizontal: 0.75em;
  display: block;
  width: 100%;
  margin-bottom: 0.75em;
}

.page-title {
  color: white;
  text-align: center;
  flex: 1;
  font-family: 'ZingTrue';
  font-size: 2.2em;
  margin-bottom: 10%;
  margin-top: 10%;
}