<ion-row class="ion-justify-content-center padding-space">
  <ion-img src="assets/reset.png" alt="Register Icon"></ion-img>
</ion-row>

<ion-content class="ion-padding">
  <div class="reset-password-container">
    <ion-item>
      <ion-label position="floating">Parola noua</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirma parola</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="submitReset()">
      Reset Password
    </ion-button>
  </div>
</ion-content>
