<ion-content>
  <div class="header-container">
    <ion-title class="page-title fancy">Adaugă Echipă</ion-title>
  </div>

  <ion-card>
    <img alt="Img adauga meci" src="assets/team.png" />
    <ion-card-header class="ion-text-center">
      <ion-card-title>
        <ion-icon name="person-add-outline"></ion-icon>&nbsp; Formular de Adăugare a Echipei
      </ion-card-title>
      <ion-card-subtitle>Vă rugăm să completați formularul de mai jos pentru a înregistra o nouă echipă.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="echipaForm">
        <ion-item>
          <ion-label>Denumire Echipa</ion-label>
        </ion-item>

        <ion-item>
          <ion-input label="Introdu denumire echipa" label-placement="floating" formControlName="denumireEchipa"></ion-input>
        </ion-item>
       <div *ngIf="echipaForm.get('denumireEchipa')?.hasError('whitespace') && echipaForm.get('denumireEchipa')?.touched"  class="error-message">
          Vă rugăm să introduceți un nume valid.
        </div>

        <div *ngIf="echipaForm.get('denumireEchipa')?.hasError('pattern')"  class="error-message">
          Vă rugăm să introduceți doar caractere alfabetice.
        </div>

        <ion-item>
          <ion-select multiple="true" label-placement="floating" label="Selectează utilizatorii" formControlName="users">
            <ion-select-option *ngFor="let user of users" [value]="user.userName">
              {{ user.userName }}
            </ion-select-option>
          </ion-select>
        </ion-item>

            <!-- Mesaj de eroare pentru utilizatori -->
    <div *ngIf="echipaForm.get('users')?.hasError('required') && echipaForm.get('users')?.touched" class="error-message">
      Vă rugăm să selectați utilizatori.
    </div>

        <ion-button type="submit">
          Trimite
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

