.meci-button {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Textul la stânga, imaginea la dreapta */
  text-align: left; /* Asigură alinierea textului la stânga */
  margin: 10px;
}

.meci-button .meci-text {
  flex: 1; /* Să ocupe restul spațiului disponibil */
  font-family: 'Zing';font-size: 23px;

}


  .meci-button .meci-image {
    margin-left: 0px; /* Spațiu între text și imagine */
    max-width: 100px; /* Dimensiune maximă a imaginii */
    max-height: 100px; /* Dimensiune maximă a imaginii */
    border-radius: 50%; /* Exemplu de stilizare, imagine rotundă */
    
}
  
  .list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

  }
  
  .grid-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;

  }
  
  ion-segment {
    margin: 10px 0;
  }


  
  /* Container pentru titlu și butonul de adăugare */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-top: 16px;
  }
  
  /* Titlul paginii */
  .page-title {
    text-align: center;
    flex: 1;
    font-family: 'Poppins-ExtraLight';font-size: 25px;
   // padding: 20px;
  }
  
  /* Stilizează butonul de adăugare */
  .add-button {
    margin-left: auto;
  }
  
  /* Segmentul */
  ion-segment {
    margin-top: 16px;
    --indicator-color: transparent !important;
  }
  
  /* Vizualizare listă și grilă */
  .list-view .meci-button,
  .grid-view .meci-button {
    width: 100%; /* Stilizare pentru vizualizarea listă */
    margin-bottom: 8px;
  }
  
  .grid-view {
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid-view .meci-button {
    width: calc(50% - 8px); /* Ajustare pentru vizualizarea grilă */
    margin: 4px;
  }

