<ion-row class="ion-justify-content-center padding-space">
  <ion-img src="assets/reset-password.png" alt="Register Icon"></ion-img>
</ion-row>

<ion-content class="ion-padding background-image ">
  <div class="forgot-password-container">
    <ion-item>
      <ion-label position="floating">Adresa de e-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="resetPassword()">
      Trimite Reset E-mail
    </ion-button>
  </div>
</ion-content>

